[submodule "concord-shinjuku"]
	path = concord-shinjuku
	url = git@github.com:berghetti/concord-shinjuku.git
	branch = concord
[submodule "schedsim"]
	path = schedsim
	url = git@github.com:rishabh246/schedsim.git
	branch = concord
[submodule "benchmarks/overhead"]
	path = benchmarks/overhead
	url = git@github.com:m8/concord-overhead-bench.git
